/* container for each breakpoints */
.container-sm {
    max-width: 540px;
}

.container-md {
    max-width: 720px;
}

.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}